<th:block th:fragment="modal">
  <div class="modal fade" id="similarFormulaModal" tabindex="-1" aria-labelledby="similarFormulaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="similarFormulaModalLabel">Похожая формула</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class = "modal-body">
        <div class="modal-body" id="similarFormulaModalBody">
        <!-- Здесь будет отображаться похожая формула -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</th:block>