.categories {
    margin-bottom: 20px; /* Отступ между рядами */
}

.database-buttons {
    margin-bottom: 20px;
}

.save-button {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 10px; /* Пространство между кнопками в одном ряду */
}
