<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LaTexApp</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "\\(", right: "\\)", display: false}
                ]
            });
        });
    </script>
</head>
<body>
<h1>LaTexApp</h1>
<form action="/render" method="post">
    <label for="latexInput">Введите LaTeX:</label><br>
    <textarea id="latexInput" name="latexInput" rows="4" cols="50" required></textarea><br><br>
    <button type="submit">Отобразить формулу</button>
</form>

<!-- Вывод формулы -->
<div th:if="${latexInput}">
    <h2>Результат:</h2>
    <p th:text="'$$' + ${latexInput} + '$$'"></p>
</div>
</body>
</html>
